* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: open-sans, Arial, sans-serif;
  background-color: #fff; }

.list-reset {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0; }

.clearfix:after {
  display: table;
  content: '';
  clear: both; }

.container {
  max-width: 1200px;
  padding: 0 0 !important;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

@media (max-width: 1250px) {
  .container {
    max-width: 980px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto; } }
img {
  width: 100%;
  height: auto; }

.row {
  margin-left: -15px;
  margin-right: -15px; }

.text-center {
  text-align: center; }

.header {
  background-color: transparent;
  position: absolute;
  right: 0;
  left: 0;
  padding: 34px 32px;
  z-index: 2; }
  .header .header__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .header .logo {
    width: 180px; }
  .header .logo a {
    display: block; }
  .header .logo img {
    width: 100%;
    height: auto; }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header .menu li {
    margin-left: 44px; }
  .header .menu a {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #0059CB; }
  .header .menu a:hover {
    color: #00295F;
    text-decoration: none; }
  .header .toggle-menu {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: none; }
    .header .toggle-menu span {
      position: absolute;
      background-color: #00295F;
      width: 100%;
      height: 2px;
      top: 50%;
      right: 0;
      margin-top: -5px;
      opacity: 1; }
      .header .toggle-menu span:before {
        position: absolute;
        background: #00295F;
        width: 50px;
        height: 2px;
        bottom: 10px;
        content: "";
        display: block; }
      .header .toggle-menu span:after {
        position: absolute;
        background: #00295F;
        width: 50px;
        height: 2px;
        top: 10px;
        content: "";
        display: block; }
  .header .toggle-menu.menu-on span {
    background-color: transparent;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }
    .header .toggle-menu.menu-on span:before {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      top: 0;
      position: absolute;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
    .header .toggle-menu.menu-on span:after {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      top: 0;
      position: absolute;
      -webkit-transition: all .3s ease-in-out;
      transition: all .3s ease-in-out; }
  @media (max-width: 955px) {
    .header .main-nav {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      top: 100%;
      border-top: 1px solid #fff;
      background-color: #fff;
      padding: 25px 0;
      display: none; }
    .header .menu li {
      margin-left: 0; }
    .header .main-nav.open {
      display: block; }
    .header .menu {
      display: block;
      text-align: center; }
    .header .menu a {
      display: block;
      font-size: 16px;
      padding: 15px 0; }
    .header .toggle-menu {
      display: block; } }

.banner {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden; }
  .banner .banner-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 98px;
    line-height: 90px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #0059CB;
    margin-bottom: 32px;
    margin-top: 0;
    max-width: 588px;
    margin-left: -5px;
    padding-left: 0; }
  .banner .banner-text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    color: #00295F;
    margin-bottom: 12px;
    max-width: 490px; }
  .banner .button {
    margin-left: 9px;
    margin-top: 28px; }
  .banner .btn {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #0059CB;
    background-color: #FFFFFF;
    position: relative;
    padding: 18px 57px;
    max-width: 100%;
    border: 2px solid #0059CB;
    border-radius: 0; }
    .banner .btn:before {
      z-index: -1;
      border: 2px solid #0059CB;
      position: absolute;
      content: '';
      top: 5px;
      left: -10px;
      bottom: -10px;
      right: 4px; }
    .banner .btn:after {
      z-index: -1;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #0059CB; }
  .banner .banner-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .banner .image {
    width: 20px;
    height: 70px;
    position: absolute;
    left: calc(50% - 10px);
    bottom: 208px; }
  .banner .image-tiger {
    width: 674px;
    height: 700px; }
  .banner .letter {
    position: absolute;
    background: #F7F7F7;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 132px;
    line-height: 0;
    color: #F7F7F7; }
  .banner .r {
    top: 66px;
    left: -12px; }
  .banner .e {
    bottom: 291px;
    left: -18px; }
  .banner .n {
    top: 174px;
    right: 38px;
    opacity: 0.4; }
  .banner .e-right {
    bottom: 423px;
    right: -18px; }
  .banner .a {
    left: 192px;
    bottom: 130px; }
  .banner .shot-line-left {
    width: 2px;
    height: 48px;
    left: 25%;
    background: #0059CB;
    position: absolute;
    bottom: -20%; }
  .banner .shot-line-right {
    position: absolute;
    width: 2px;
    height: 48px;
    right: 25%;
    background: #0059CB;
    bottom: -20%; }
  .banner .line {
    width: 1px;
    background-color: #E4E4E4;
    position: absolute;
    top: -100%;
    bottom: -100%; }
  .banner .line1 {
    left: 0; }
  .banner .line2 {
    left: 25%; }
  .banner .line3 {
    left: 50%; }
  .banner .line4 {
    right: 25%; }
  .banner .line5 {
    right: 0%; }
  @media (max-width: 1250px) {
    .banner .image-tiger {
      width: 674px;
      height: 430px; } }
  @media (max-width: 880px) {
    .banner .image-tiger {
      width: 674px;
      height: 337px; } }

.marketing {
  padding: 64px 0 74px 0;
  background: url("../../public/images/background.png") center center no-repeat;
  background-size: cover;
  overflow: hidden; }
  .marketing .line {
    width: 1px;
    background-color: #E4E4E4;
    position: absolute;
    top: -100%;
    bottom: -100%; }
  .marketing .line1 {
    left: 0; }
  .marketing .line2 {
    left: 25%; }
  .marketing .line3 {
    left: 50%; }
  .marketing .line4 {
    right: 25%; }
  .marketing .line5 {
    right: 0%; }
  .marketing .title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF; }
  .marketing .title.right {
    margin-bottom: 16px; }
  .marketing .title.left {
    margin-bottom: 8px; }
  .marketing .text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    color: #FFFFFF; }
  .marketing .text.right {
    max-width: 558px;
    margin-bottom: 40px; }
  .marketing .text.left {
    max-width: 486px; }
  .marketing .image {
    margin: 16px 0;
    width: 180px;
    height: 180px; }
  .marketing .banner-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 98px;
    line-height: 90px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #0059CB;
    margin-bottom: 32px;
    margin-top: 0;
    max-width: 588px;
    margin-left: -5px;
    padding-left: 0; }
  .marketing .banner-text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    color: #00295F;
    margin-bottom: 12px;
    max-width: 490px; }
  .marketing .button {
    margin-left: 9px;
    margin-top: 28px; }
  .marketing .btn {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    color: #0059CB;
    background-color: #fff !important;
    position: relative;
    padding: 18px 47px;
    max-width: 100%;
    border: 2px solid #fff;
    border-radius: 0; }
    .marketing .btn:before {
      z-index: 0;
      border: 2px solid #fff;
      position: absolute;
      content: '';
      top: 5px;
      left: -10px;
      bottom: -10px;
      right: 4px; }
    .marketing .btn:after {
      z-index: -1;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #0059CB; }

.popup {
  background-color: #fff;
  max-width: 410px;
  padding: 56px 48px;
  margin: 0 auto;
  position: relative; }
  .popup .form-title {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 32px; }
  .popup label {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-bottom: 8px; }
  .popup input {
    margin-bottom: 16px;
    width: 100%;
    padding: 4px 8px;
    display: block;
    border: 1px solid #3B2548;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #000; }
  .popup .btn {
    padding: 16px 78px 12px 78px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    background: #F7BC2A;
    -webkit-box-shadow: 0 4px 4px #E6AE22;
    box-shadow: 0 4px 4px #E6AE22;
    border-radius: 7px; }
    .popup .btn:hover {
      background: #F3A610; }
  @media (max-width: 430px) {
    .popup {
      padding: 30px;
      max-width: 100%; } }

#popup2 input[type="tel"] {
  margin-bottom: 32px; }
