////////////////////////BANNER BEGIN////////////////////////
$font_text: 'Open Sans', sans-serif;

.banner {
  min-height: 100vh;
  position: relative;
  display: flex;
  overflow: hidden;

  .banner-title {
    font-family: $font_text;
    font-style: normal;
    font-weight: 800;
    font-size: 100px;
    line-height: 87px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #0059CB;
    margin-bottom: 12px;
    margin-top: 0;
    max-width: 588px;
    margin-left: -5px;
    padding-left: 0;

    span {
      display: block;
      font-size: 70px;
    }
  }

  .banner-body {
    margin-top: 122px;
  }

  .banner-text {
    font-family: $font_text;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 38px;
    color: #00295F;
    margin-bottom: 12px;
    max-width: 490px;
  }
  .button {
    margin-left: 9px;
    margin-top: 30px;
  }

  .btn {
    font-family: $font_text;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    align-items: center;
    text-align: center;
    color: #0059CB;
    //background-color: #FFFFFF;
    position: relative;
    padding: 15px 57px;
    max-width: 100%;
    border: 2px solid #0059CB;
    border-radius: 0;
    //z-index: 99;

    &:before {
      z-index: -1;
      border: 2px solid #0059CB;
      position: absolute;
      content: '';
      top: 5px;
      left: -10px;
      bottom: -10px;
      right: 4px;
      background-color: #FFFFFF;
    }

    &:after {
      z-index: -1;
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fff;
    }

    &:hover {
      background: #0059CB;
      color: #FFFFFF;
      transition: .3s;

      &:before, &:after {
        display: none;
      }
    }
  }

  .banner-inner {
    display: flex;
    margin-top: 116px;
    justify-content: space-between;
    //align-items: center;
  }

  .image {
    width: 20px;
    height: 70px;
    position: absolute;
    left: calc(50% - 10px);
    bottom: 208px;
    img {
      animation: move 1s infinite ease-in-out;
      position: relative;
    }
  }

  @keyframes move {
    from {
      bottom: 10px;
    }
    to {
      bottom: -10px;
    }
  }

  .image-tiger {
    width: 720px;
    padding-left: 23px;
    //height: 700px;
  }

  .r {
    top: 1%;
    left: -12%;
  }

  .e {
    bottom: 22%;
    left: -13%;
  }

  .n {
    opacity: 0.4;
    top: 14%;
    right: -7%;
  }

  .e-right {
    bottom: 39%;
    right: -12%;
  }

  .a {
    bottom: 0;
    left: 6%;
  }

  .shot-line-left {
    width: 2px;
    height: 48px;
    left: 25%;
    background: #0059CB;
    position: absolute;
    bottom: -18.5%;
    z-index: -4;
  }

  .shot-line-right {
    position: absolute;
    width: 2px;
    height: 48px;
    right: 25%;
    background: #0059CB;
    bottom: -18.5%;
    z-index: -4;
  }

  .line {
    background-color: #E4E4E4;
    //background-color: black;
  }

  ///////media
  //
  //@media (max-width: 1300px) {
  //  .image-tiger {
  //    width: 677px;
  //    padding-left: 0;
  //  }
  //}
  //
  //@media (max-width: 1288px) {
  //  .a {
  //    bottom: -18%;
  //  }
  //}
  //
  //@media (max-width: 1195px) {
  //  .banner-inner {
  //    flex-wrap: nowrap;
  //  }
  //
  //  .banner-title {
  //    font-size: 84px;
  //    span {
  //      font-size: 59px;
  //    }
  //  }
  //}
  //
  //@media (max-width: 1164px) {
  //  .image-tiger {
  //    max-width: 649px;
  //    padding-left: 0;
  //  }
  //}
  //
  //@media (max-width: 1120px) {
  //  .image-tiger {
  //    max-width: 569px;
  //    padding-left: 0;
  //    margin-top: 0;
  //  }
  //  .banner-body {
  //    margin-top: 74px;
  //  }
  //}
  //
  //@media (max-width: 1090px) {
  //  .image-tiger {
  //    max-width: 542px;
  //  }
  //  .banner-body {
  //    margin-top: 68px;
  //  }
  //}
  //
  //@media (max-width: 1024px) {
  //  .shot-line-left, .shot-line-right {
  //    bottom: 5%;
  //  }
  //}
  //
  //@media (max-width: 1019px) {
  //  .image-tiger {
  //    max-width: 466px;
  //    //margin-top: 82px;
  //  }
  //
  //  .banner-body {
  //    margin-top: 42px;
  //  }
  //}
  //
  //@media (max-width: 992px) {
  //  .letter {
  //    display: none;
  //  }
  //  .image {
  //    display: none;
  //  }
  //}
  //
  //@media (max-width: 970px) {
  //  .image-tiger {
  //    max-width: 416px;
  //    //margin-top: 106px;
  //  }
  //  .banner-body {
  //    margin-top: 18px;
  //  }
  //
  //  .banner-title {
  //    line-height: 71px;
  //  }
  //}
  //
  //@media (max-width: 882px) {
  //  .image-tiger {
  //    max-width: 399px;
  //  }
  //
  //  .banner-title {
  //    font-size: 72px;
  //    span {
  //      font-size: 48px;
  //    }
  //  }
  //
  //  .banner-title {
  //    line-height: 58px;
  //  }
  //  .button {
  //    margin-left: 9px;
  //    margin-top: 30px;
  //    margin-bottom: 25px;
  //  }
  //}
  //
  //@media (max-width: 852px) {
  //  .banner-title {
  //    font-size: 65px;
  //    span {
  //      font-size: 46px;
  //    }
  //  }
  //  .image-tiger {
  //    max-width: 366px;
  //  }
  //}
  //
  //@media (max-width: 770px) {
  //
  //  .image-tiger {
  //    max-width: 327px;
  //  }
  //
  //  .banner-body {
  //    margin-top: 0;
  //  }
  //}
  //
  //@media (max-width: 750px) {
  //
  //  .banner-title {
  //    font-size: 55px;
  //    span {
  //      font-size: 36px;
  //    }
  //  }
  //}
  //
  //@media (max-width: 687px) {
  //
  //  .btn {
  //    padding: 15px 45px;
  //  }
  //}
  //
  //@media (max-width: 667px) {
  //  text-align: center;
  //  .banner-inner {
  //    flex-wrap: wrap;
  //  }
  //
  //  .banner-body {
  //    margin-top: 0;
  //  }
  //
  //  .image-tiger {
  //    margin-top: 0;
  //    margin-left: auto;
  //    margin-right: auto;
  //  }
  //
  //  .banner-title {
  //    line-height: 50px;
  //    max-width: 100%;
  //  }
  //
  //  .banner-text {
  //    max-width: 100%;
  //  }
  //}
  //
  //@media (max-width: 576px) {
  //
  //  .shot-line-left {
  //    width: 2px;
  //    height: 32px;
  //    left: 25%;
  //    background: #0059CB;
  //    position: absolute;
  //    bottom: -13%;
  //  }
  //
  //  .shot-line-right {
  //    width: 2px;
  //    height: 32px;
  //    right: 25%;
  //    background: #0059CB;
  //    position: absolute;
  //    bottom: -13%;
  //  }
  //}

  /////media

  @media (max-width: 1300px) {
    .image-tiger {
      width: 708px;
      padding-left: 0;
    }
  }

  @media (max-width: 1288px) {
    .a {
      bottom: -18%;
    }
  }

  @media (max-width: 1199px) {
    .image-tiger {
      width: 675px;
      padding-left: 0;
    }
  }

  @media (max-width: 1195px) {
    .banner-inner {
      flex-wrap: nowrap;
    }

    .banner-title {
      font-size: 84px;
      span {
        font-size: 59px;
      }
    }
  }

  @media (max-width: 1164px) {
    .image-tiger {
      max-width: 649px;
      padding-left: 0;
    }
  }

  @media (max-width: 1120px) {
    .image-tiger {
      max-width: 600px;
      padding-left: 0;
      margin-top: 0;
    }
    .banner-body {
      margin-top: 74px;
    }
  }

  @media (max-width: 1090px) {
    .image-tiger {
      max-width: 570px;
    }
    .banner-body {
      margin-top: 68px;
    }
  }

  @media (max-width: 1024px) {
    .shot-line-left, .shot-line-right {
      bottom: 5%;
    }
  }

  @media (max-width: 1019px) {
    .image-tiger {
      max-width: 500px;
      //margin-top: 82px;
    }

    .banner-body {
      margin-top: 42px;
    }
  }

  @media (max-width: 992px) {
    .letter {
      display: none;
    }
    .image {
      display: none;
    }
  }

  @media (max-width: 970px) {
    .image-tiger {
      max-width: 450px;
      //margin-top: 106px;
    }
    .banner-body {
      margin-top: 18px;
    }

    .banner-title {
      line-height: 71px;
    }
  }

  @media (max-width: 893px) {
    .image-tiger {
      max-width: 430px;
    }
  }

  @media (max-width: 882px) {
    .image-tiger {
      max-width: 399px;
    }

    .banner-title {
      font-size: 72px;
      span {
        font-size: 48px;
      }
    }

    .banner-title {
      line-height: 58px;
    }
    .button {
      margin-left: 9px;
      margin-top: 30px;
      margin-bottom: 25px;
    }
  }

  @media (max-width: 852px) {
    .banner-title {
      font-size: 65px;
      span {
        font-size: 46px;
      }
    }
    .image-tiger {
      max-width: 366px;
    }
  }

  @media (max-width: 770px) {

    .image-tiger {
      max-width: 327px;
    }

    .banner-body {
      margin-top: 0;
    }
  }

  @media (max-width: 750px) {

    .banner-title {
      font-size: 55px;
      span {
        font-size: 36px;
      }
    }
  }

  @media (max-width: 687px) {

    .btn {
      padding: 15px 45px;
    }
  }

  @media (max-width: 667px) {
    text-align: center;
    .banner-inner {
      flex-wrap: wrap;
    }

    .banner-body {
      margin-top: 0;
    }

    .image-tiger {
      margin-top: 0;
      margin-left: auto;
      margin-right: auto;
    }

    .banner-title {
      line-height: 50px;
      max-width: 100%;
    }

    .banner-text {
      max-width: 100%;
    }
  }

  @media (max-width: 576px) {

    .shot-line-left {
      width: 2px;
      height: 32px;
      left: 25%;
      background: #0059CB;
      position: absolute;
      bottom: -13%;
    }

    .shot-line-right {
      width: 2px;
      height: 32px;
      right: 25%;
      background: #0059CB;
      position: absolute;
      bottom: -13%;
    }
  }

}

//////////////////////////BANNER END////////////////////////

.banner {
  ////////media

  @media (max-width: 400px) {
    text-align: left;

    .letter {
      display: none;
    }

    .banner-text {
      font-family: $font_text;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 26px;
      color: #00295F;
      margin-bottom: 11px;
      max-width: 265px;
      span {
        margin-bottom: -11px;
        display: block;
        max-width: 226px;
        font-size: 18px;
      }
    }

    .banner-inner {
      flex-direction: column;
      margin-top: 7px;
    }

    .banner-body {
      margin-top: 81px;
    }

    .banner-title {
      margin-bottom: 9px;
      font-size: 32px;
      line-height: 36px;
      margin-left: 0;
      span {
        font-size: 32px;
      }
    }

    .button {
      margin-top: 31px;
    }

    .btn {
      width: 100%;
      font-size: 16px;
      padding: 9px 57px;
    }

    .image-tiger {
      width: 100%;
      max-width: 370px;
      padding-left: 0;
    }

    .image {
      display: none;
    }
  }

}

