//////////////////////////CASES BEGIN////////////////////////
$font_text: 'Open Sans', sans-serif;

.cases {
  overflow: hidden;
  padding-bottom: 265px;
  padding-top: 202px;

  .shot-line-left-bottom {
    width: 2px;
    height: 48px;
    left: 25%;
    background: #0059CB;
    position: absolute;
    bottom: -44%;
    z-index: 2;
  }

  .shot-line-right-bottom {
    position: absolute;
    width: 2px;
    height: 48px;
    right: 25%;
    background: #0059CB;
    bottom: -44%;
    z-index: 2;
  }

  .caption {
    font-family: $font_text;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 38px;
    color: #00295F;
    margin-bottom: 4px;
    margin-top: 58px;

    span {
      color: #0059CB;
    }
  }

  .text {
    font-family: $font_text;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
    color: #00295F;
    //max-width: 352px;
  }

  .desk {
    display: block;
  }

  .text.bottom {
    //max-width: 316px;
    padding-bottom: 40px;
    margin-bottom: 0;
  }

  .image {
    max-width: 498px;
    max-height: 480px;
    display: inline-block;
  }

  .cases-inner {
    display: flex;
    justify-content: space-between;
  }

  .cases-body {
    display: flex;
  }

  .before, .after{
    font-family: $font_text;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    //display: flex;
    //align-items: center;
    text-align: center;
    color: #0059CB;
    border: 2px solid #0059CB;
  }

  .before {
    padding: 10px 41px;
  }

  .after {
    padding: 10px 38px;
  }

  nav {
    display: inline-block;

    .item-first {
      display: flex;
    }

    .item {
      padding: 34px 0 32px 0;
      background: #F0F0F0;
    }

    .item.middle {
      border-bottom: 1px solid #C4C4C4;
      border-top: 1px solid #C4C4C4;
    }

    .number {
      font-family: $font_text;
      font-style: normal;
      font-weight: bold;
      font-size: 48px;
      line-height: 28px;
      text-align: center;
      color: #0059CB;
      margin-bottom: 8px;
    }

    .number-text {
      font-family: $font_text;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 24px;
      text-align: center;
      color: #0059CB;
      margin-bottom: 0;
    }
  }

  .nav-tabs .nav-link {
    color: transparent;
    background-color: transparent;
    border: none;
    display: contents;
  }

  .nav-tabs .nav-link.active span {
    background: #0059CB;
    color: #fff;
  }

  .line {
    background-color: #E4E4E4;
    //background-color: black;
  }

  //slider

  .slick-prev, .slick-next {
    border: 2px solid #0059CB;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    width: 48px;
    height: 48px;
    z-index: 99;

    .fa-chevron-right, .fa-chevron-left {
      font-size: 20px;
      color: #0059CB;
    }
  }

  .slick-prev {
    left: 0;
    top: 90%;
  }

  .slick-next {
    left: 5.2%;
    top: 90%;
  }

  .slick-prev:before, .slick-next:before {
    font-size: 0;
  }

  .block {
    min-width: 300px;
    min-height: 160px;
    background: #F0F0F0;
    position: absolute;
    left: 25%;
    bottom: -20%;
  }

  .shot-line-left-top {
    width: 2px;
    height: 48px;
    left: 25%;
    background: #0059CB;
    position: absolute;
    top: -24%;
    z-index: 2;
  }

  .shot-line-right-top {
    position: absolute;
    width: 2px;
    height: 48px;
    right: 25%;
    background: #0059CB;
    top: -24%;
    z-index: 2;
  }

  .img-small {
    display: none;
  }

  /////media

  @media (max-width: 1240px) {
    //.desk {
    //  display: inline;
    //}

    .before {
      padding: 10px 39px;
    }

    .after {
      padding: 10px 36px;
    }
  }

  @media (max-width: 1188px) {
    .before {
      padding: 10px 38px;
    }

    .after {
      padding: 10px 35px;
    }

    .after, .before {
      display: flex;
      width: 50%;
      padding: 10px 34px;
      justify-content: center;
      align-items: center;
    }
  }

  @media (max-width: 1170px) {
    .before {
      width: 50%;
      padding: 10px 37px;
    }

    .after {
      width: 50%;
      padding: 10px 34px;
    }
  }

  @media (max-width: 1166px) {
    .slick-next, .slick-prev {
      top: 100%;
    }
  }

  @media (max-width: 1060px) {
    .block {
      bottom: 0;
    }
    .slick-next {
      left: 7.2%;
    }
  }

  @media (max-width: 991px) {
    .block {
      display: none;
    }
  }

  @media (max-width: 768px) {
    padding-top: 53px;
    padding-bottom: 72px;

    .shot-line-left-top {
      width: 2px;
      height: 32px;
      left: 25%;
      background: #0059CB;
      position: absolute;
      top: -2%;
      z-index: 2;
    }

    .shot-line-right-top {
      width: 2px;
      height: 32px;
      right: 25%;
      background: #0059CB;
      position: absolute;
      top: -2%;
      z-index: 2;
    }

    .shot-line-left-bottom {
      width: 2px;
      height: 32px;
      left: 25%;
      background: #0059CB;
      position: absolute;
      bottom: -8%;
      z-index: 2;
    }

    .shot-line-right-bottom {
      width: 2px;
      height: 32px;
      right: 25%;
      background: #0059CB;
      position: absolute;
      bottom: -8%;
      z-index: 2;
    }

    .block {
      display: none;
    }

    .img-big {
      display: none;
    }

    .img-small {
      display: block;
    }

    .image {
      max-width: 100%;
      max-height: 100%;
    }

    .text {
      font-size: 16px;
      line-height: 26px;
      margin-bottom: 14px;
    }

    .text.bottom {
      padding-bottom: 28px;
    }

    nav {
      display: inline-block;

      .item-first {
        display: flex;
      }

      .item {
        width: 33.3333%;
        display: flex;
        flex-direction: column;
        padding: 16px 0 6px 0;
        justify-content: center;
        align-items: center;
      }

      .item.middle {
        border-left: 1px solid #C4C4C4;
        border-right: 1px solid #C4C4C4;
      }

      .number {
        font-size: 28px;
        line-height: 15px;
      }

      .number-text {
        font-size: 15px;
        line-height: 24px;
      }
    }

    .tab-content > .active {
      display: flex;
    }

    .desk {
      display: inline;
    }

    .caption {
      font-weight: bold;
      font-size: 24px;
      line-height: 33px;
      margin-bottom: 22px;
    }

    .cases-inner {
      flex-direction: column;
    }

    .cases-body {
      flex-direction: column-reverse;
    }

    .after, .before {
      font-size: 18px;
      line-height: 25px;
      width: 50%;
    }

    .slick-dotted.slick-slider {
      margin-bottom: 30px;
      position: relative;
    }

    .slick-dots {
      width: 50%;
      position: absolute;
      bottom: 18px;
      margin: 0;
      list-style: none;
      text-align: center;
      left: 25%;
      right: 25%;
      background-color: #F0F0F0;
      display: flex;
      justify-content: center;
      padding: 12px 0;
    }

    .slick-dots li {
      position: relative;
      display: inline-block;
      width: 8px;
      height: 8px;
      margin: 0 4px;
      padding: 0;
      cursor: pointer;
      background: #00295F;
    }

    .slick-dots .slick-active {
      background: #0059CB;
    }

    .slick-dots li button {
      font-size: 0;
      line-height: 0;
      display: inline;
      width: 0;
      height: 0;
      padding: 0;
      cursor: pointer;
      border: 0;
      outline: none;
      background: #00295F;
    }

    .slick-dots li button:before {
      display: none;
    }
  }

  //@media (max-width: 748px) {
  //  .slick-dots {
  //    bottom: 122px;
  //  }
  //}
  //
  //@media (max-width: 728px) {
  //  .slick-dots {
  //    bottom: 119px;
  //  }
  //}
  //
  //@media (max-width: 708px) {
  //  .slick-dots {
  //    bottom: 117px;
  //  }
  //}
  //
  //@media (max-width: 688px) {
  //  .slick-dots {
  //    bottom: 113px;
  //  }
  //}
  //
  @media (max-width: 683px) {
    .slick-dots {
      bottom: -7px;
    }
  }
  //
  //@media (max-width: 663px) {
  //  .slick-dots {
  //    bottom: 84px;
  //  }
  //}
  //
  //@media (max-width: 643px) {
  //  .slick-dots {
  //    bottom: 81px;
  //  }
  //}
  //
  //@media (max-width: 623px) {
  //  .slick-dots {
  //    bottom: 79px;
  //  }
  //}
  //
  //@media (max-width: 603px) {
  //  .slick-dots {
  //    bottom: 75px;
  //  }
  //}
  //
  //@media (max-width: 583px) {
  //  .slick-dots {
  //    bottom: 73px;
  //  }
  //}
  //
  //@media (max-width: 576px) {
  //  .slick-dots {
  //    bottom: 72px;
  //  }
  //}
  //
  //@media (max-width: 556px) {
  //  .slick-dots {
  //    bottom: 69px;
  //  }
  //}
  //
  //@media (max-width: 536px) {
  //  .slick-dots {
  //    bottom: 66px;
  //  }
  //}
  //
  //@media (max-width: 516px) {
  //  .slick-dots {
  //    bottom: 63px;
  //  }
  //}
  //
  //@media (max-width: 486px) {
  //  .slick-dots {
  //    bottom: 59px;
  //  }
  //}
  //@media (max-width: 466px) {
  //  .slick-dots {
  //    bottom: 56px;
  //  }
  //}
  //
  //@media (max-width: 426px) {
  //  .slick-dots {
  //    bottom: 51px;
  //  }
  //}
  //
  //@media (max-width: 399px) {
  //  .slick-dots {
  //    bottom: 47px;
  //  }
  //}
  //
  @media (max-width: 398px) {
    .slick-dots {
      bottom: -33px;
    }
  }
  //
  //@media (max-width: 396px) {
  //  .slick-dots {
  //    bottom: 20px;
  //  }
  //}
  //
  //@media (max-width: 376px) {
  //  .slick-dots {
  //    bottom: 17px;
  //  }
  //}
  //
  //@media (max-width: 356px) {
  //  .slick-dots {
  //    bottom: 15px;
  //  }
  //}
  //
  //@media (max-width: 346px) {
  //  .slick-dots {
  //    bottom: 12px;
  //  }
  //}
  //@media (max-width: 336px) {
  //  .slick-dots {
  //    bottom: 11px;
  //  }
  //}
  //
  //@media (max-width: 320px) {
  //    .slick-dots {
  //      bottom: 9px;
  //    }
  //  }


}
//////////////////////////CASES END////////////////////////