.header {
  background-color: transparent;
  position: absolute;
  right: 0;
  left: 0;
  padding: 42px 0;
  z-index: 2;
  display: flow-root;



  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .logo {
    width: 180px;
  }

  .logo a {
    display: block;
  }

  .logo img {
    width: 100%;
    height: auto;
  }

  .menu {
    display: flex;
  }

  .menu li {
    margin-left: 46px;
  }

  .menu a {
    font-family: $font_text;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #0059CB;
  }

  .menu a:hover {
    color: #00295F;
    text-decoration: none;
  }



  .toggle-menu {
    display: none;
    width: 28px;
  }

  .toggle-menu:before {
    display: block;
    content: '';
    height: 2px;
    background-color: #0059CB;
  }

  .toggle-menu:after {
    display: block;
    content: '';
    height: 2px;
    background-color: #0059CB;
  }

  .toggle-menu span {
    display: block;
    height: 2px;
    background-color: #0059CB;
    margin: 6px 0;
  }

  ///media

  @media (max-width: 955px) {
    .main-nav {
      position: absolute;
      left: -5%;
      right: -5%;
      width: 110%;
      top: 100%;
      border-top: 1px solid #0059CB;
      background: url("../../public/images/bg-menu.png") center center no-repeat !important;
      background-size: cover !important;
      padding: 25px 0;
      display: none;
    }

    .menu li {
      margin-left: 0;
    }

    .main-nav.open {
      display: block;
    }

    .bg {
      background: url("../../public/images/bg-menu.png") center center no-repeat !important;
      background-size: cover !important;
    }

    .menu {
      display: block;
      text-align: center;
    }

    .menu a {
      display: block;
      font-size: 16px;
      padding: 15px 0;
      color: #FAFAFA;
    }

    .toggle-menu {
      display: block;
    }
  }

  ///////////media

  @media (max-width: 400px) {
    padding: 18px 0;
    .logo {
      max-width: 110px;
      height: 21px;
    }

    .main-nav {
      top: calc(100% + 20px);
    }
  }

}

////////////////////////HEADER END////////////////////////