$font_text: 'Open Sans', sans-serif;

.header.bg {
  background: url("../../public/images/bg-menu.png") center center no-repeat !important;
  background-size: cover !important;
}

.header {
  background-color: transparent;
  position: absolute;
  right: 0;
  left: 0;
  padding: 42px 0;
  z-index: 2;
  display: flow-root;

  .header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    //flex-direction: column;
  }

  .logo {
    width: 180px;
  }

  .logo a {
    display: block;
  }

  .logo img {
    width: 100%;
    height: auto;
  }

  .menu {
    display: flex;
  }

  .menu li {
    margin-left: 46px;
  }

  .menu a {
    font-family: $font_text;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #0059CB;
  }

  .menu a:hover {
    color: #00295F;
    text-decoration: none;
  }

.top {
  display: flex;
  justify-content: space-between;
}

  .logo-mobile {
    display: none;
  }

  // c крестиком

  .toggle-menu {
    position: relative;
    width: 28px;
    height: 28px;
    cursor: pointer;
    display: none;

    span {
      position: absolute;
      background-color: #0059CB;
      width: 100%;
      height: 2px;
      top: 50%;
      right: 0;
      margin-top: -5px;
      opacity: 1;
      &:before {
        position: absolute;
        background: #0059CB;
        width: 28px;
        height: 2px;
        bottom: 6px;
        content: "";
        display: block;
      }
      &:after{
        position: absolute;
        background: #0059CB;
        width: 28px;
        height: 2px;
        top: 6px;
        content: "";
        display: block;
      }
    }
  }

  .toggle-menu.menu-on {
    span {
      background-color: transparent;
      transition: all .3s ease-in-out;
      &:before {
        background-color: #FFFFFF;
        transform: rotate(-45deg);
        top: 0;
        position: absolute;
        transition: all .3s ease-in-out;
      }
      &:after {
        background-color: #FFFFFF;
        transform: rotate(45deg);
        top: 0;
        position: absolute;
        transition: all .3s ease-in-out;
      }
    }

  }

  //.toggle-menu {
  //  display: none;
  //  width: 28px;
  //}

  //.toggle-menu:before {
  //  display: block;
  //  content: '';
  //  height: 2px;
  //  background-color: #0059CB;
  //}
  //
  //.toggle-menu:after {
  //  display: block;
  //  content: '';
  //  height: 2px;
  //  background-color: #0059CB;
  //}
  //
  //.toggle-menu span {
  //  display: block;
  //  height: 2px;
  //  background-color: #0059CB;
  //  margin: 6px 0;
  //}

  .change-img {
    .logo-desk {
      display: none;
    }
    .logo-mobile {
      display: block;
    }
  }



  ///media

  @media (max-width: 955px) {

    .header__inner {
      display: flex;
      //justify-content: space-between;
      //align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: inherit;
    }

    .main-nav {
      display: none;
      padding: 89px 0 134px 0;
    }

    .menu li {
      margin-left: 0;
    }

    //.logo-desk {
    //  display: none;
    //}
    //.logo-mobile {
    //  display: block;
    //}

    .main-nav.open {
      display: block;
    }

    .menu {
      display: block;
      text-align: center;
    }

    .menu a {
      display: block;
      //font-size: 16px;
      padding: 16px 0;
      color: #FAFAFA;
      font-family: $font_text;
      font-style: normal;
      font-weight: bold;
      font-size: 24px;
      line-height: 33px;
    }

    .toggle-menu {
      display: block;
    }
  }

  ///////////media

  @media (max-width: 400px) {
    padding: 18px 0;
    .logo {
      max-width: 110px;
      height: 21px;
    }

    //.main-nav {
    //  top: calc(100% + 20px);
    //}
  }

}

////////////////////////HEADER END////////////////////////